# Python cache
__pycache__

# MacOS files
.DS_STORE

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Build directories for LaTeX and Sphinx
build

# Egg-info for pip
*.egg-info

# LaTeX build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdfsync
*.run.xml
*.synctex.gz